.navbar {
//background-color: transparent !important;
//position: absolute;
//z-index: 100;
//width: 100%;
}
.navbar-brand {
  font-family: cursive;
  font-size: 30px;
}
.nav-item {
    display: flex;
    margin-right: 30px;
    img {
      height: 80%;
      margin-top: 5px;
    }
}
