<nav class="navbar navbar-expand-sm bg-dark navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="">CineParadise</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Trang Chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#lichchieu">Lịch Chiếu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cum-rap">Cụm Rạp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tin-tuc">Tin Tức</a>
      </li>
    </ul>
  </div>
  <!-- Login -->
  <!-- <div class="login">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="" class="nav-link">User</a>
        <img src="./assets/img/user.png">
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-honey">LogOut</button>
      </li>
    </ul>
  </div> -->
</nav>
